<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="MahApps.Metro" version="0.13.0.20-ALPHA" targetFramework="net45" />
  <package id="MahApps.Metro.Resources" version="0.1.0.1" targetFramework="net45" />
  <package id="NAudio" version="1.7" targetFramework="net45" />
  <package id="Ookii.Dialogs" version="1.0" targetFramework="net45" />
  <package id="ValueInjecter" version="2.3.3" targetFramework="net45" />
</packages>